# Setting Up Basic Sqlite with Abs Data
- - Single Table

In [24]:
import sqlite3
import pandas as pd

## Load the sqlite scripts

In [70]:
import sqlcommands as cmd
cmd = reload(cmd)

# Get Data.
**get the pandas Abstracts DataFrame from hd5 file and shape **

In [26]:
rowtotal = cmd.parseDataFrame()
rowtotal[0]

(1430, 7)

Pandas(Index=1, Abstract='Empirical software engineering focuses on the evaluation of software engineering technologies, such as processes and tools, by comparing related sets of data  It has contributed a valuable body of knowledge in several areas such as software economics and software quality, which in turn drove important advances in related tools and techniques  Unfortunately this is not  yet  the case for software architecture, where empirical studies are still few  Such a condition demands for further empirical research efforts on the topic of software architecture and suggests specific areas of improvement  In this paper we discuss several essential, innovative, and maybe provocative, questions such as  Why do we have so few applications of empirical software engineering on software architecture  Which are the main difficulties  What can we do   21 refs', _2='DISP, Univ  of Rome, Rome, Italy', Authors="['Falessi, D', ' Kruchten, P', ' Cantone, G']", Conf='ECSA', Title='Issues in applying empirical software engineering to software architecture', terms="['software architecture', 'software quality', 'empirical software engineering', 'software architecture', 'software economics', 'software quality', 'Software engineering techniques', 'Software management']", year='2007')

# **Create Abstracts Total DB**
- - can already query on this with pandas

In [42]:
absDF = cmd.createTOTALTable(rowtotal)

x = list(absDF.columns)
absDF.head()

,ID,Abstract,Author affiliation,Authors,Conf,Title,terms,year
0,1,Empirical software engineering focuses on the ...,"DISP, Univ of Rome, Rome, Italy","['Falessi, D', ' Kruchten, P', ' Cantone, G']",ECSA,Issues in applying empirical software engineer...,"['software architecture', 'software quality', ...",2007
1,2,Software architecture description languages al...,"LSTS ENIT, Tunis, Tunisia","['Jerad, C', ' Barkaoui, K', ' Grissa Touzi, A']",ECSA,Hierarchical verification in Maude of LfP soft...,"['formal verification', 'rewriting systems', '...",2007
2,3,When an application must evolve to cope with n...,"INRIA, Univ des Sci et Technol de Lille, Vi...","['Waignier, G', ' Le Meur, A', 'F', ' Duchien,...",ECSA,FIESTA a generic framework for integrating ne...,"['formal specification', 'software architectur...",2007
3,4,"Ageless software evolves, to meet new requirem...","Sch of Comput Sci , Univ of Adelaide, Adela...","['Falkner, K', ' Balasubramaniam, D', ' Detmol...",ECSA,Informed evolution,"['software architecture', 'software prototypin...",2007
4,5,The past 20 years has seen significant investm...,"Software Group, IBM, Raleigh, NC, United States","['Brown, A W', ' McDermid, J A']",ECSA,The art and science of software architecture,"['safety-critical software', 'software archite...",2007

In [29]:
absDF = cmd.createTOTALTable(rowtotal)

x = list(absDF.columns)
absDF.terms.iloc[0]

u"['software architecture', 'software quality', 'empirical software engineering', 'software architecture', 'software economics', 'software quality', 'Software engineering techniques', 'Software management']"

# **Add CONFERENCES TABLE**

In [30]:
confnames = list(absDF.Conf.unique())
dfConf = cmd.createConfTable(confnames)
dfConf

Opened Abstracts_DB.db database successfully
Entry ECSA added
Entry QoSA added
Entry WICSA added
Records created successfully

   confID confName
0       1     ECSA
1       2     QoSA
2       3    WICSA

# ADD PUBLICATIONS TABLE

In [31]:
dfpubs = cmd.createPublicationsTable([])
dfpubs

Opened Abstracts_DB.db database successfully
table dropped
Created PUBLICATIONS table
Records created successfully

Empty DataFrame
Columns: [pubID, year, confName]
Index: []

## we can add from the result of groupby on ABTRACTS TOTAL 
### NEED TO CHECK QoSA2008.txt  WICSA1999.txt  WICSA2001.txt WICSA2002.txt  WICSA2007.txt
### THese are all failing.

In [32]:
abs2 = absDF.groupby(['Conf', 'year']).count()
confYear = list(abs2.index.get_values())

In [34]:
dfpubs = cmd.createPublicationsTable(confYear)
dfpubs

Opened Abstracts_DB.db database successfully
table dropped
Created PUBLICATIONS table
Records created successfully

    pubID  year confName
0       1  2007     ECSA
1       2  2008     ECSA
2       3  2009     ECSA
3       4  2010     ECSA
4       5  2011     ECSA
5       6  2012     ECSA
6       7  2013     ECSA
7       8  2014     ECSA
8       9  2005     QoSA
9      10  2006     QoSA
10     11  2007     QoSA
11     12  2009     QoSA
12     13  2010     QoSA
13     14  2011     QoSA
14     15  2012     QoSA
15     16  2013     QoSA
16     17  2014     QoSA
17     18  2004    WICSA
18     19  2005    WICSA
19     20  2008    WICSA
20     21  2009    WICSA
21     22  2011    WICSA
22     23  2012    WICSA
23     24  2014    WICSA

# Simple queries
- Conferences and Databases
 - describe()

In [36]:
dfpubs.query('year == 2009').query('pubID == 3')

   pubID  year confName
2      3  2009     ECSA

In [37]:
dfConf = cmd.sqlCMDToPD('CONFERENCES')
dfConf.merge(dfpubs, on = 'confName')

(3, 2)

    confID confName  pubID  year
0        1     ECSA      1  2007
1        1     ECSA      2  2008
2        1     ECSA      3  2009
3        1     ECSA      4  2010
4        1     ECSA      5  2011
5        1     ECSA      6  2012
6        1     ECSA      7  2013
7        1     ECSA      8  2014
8        2     QoSA      9  2005
9        2     QoSA     10  2006
10       2     QoSA     11  2007
11       2     QoSA     12  2009
12       2     QoSA     13  2010
13       2     QoSA     14  2011
14       2     QoSA     15  2012
15       2     QoSA     16  2013
16       2     QoSA     17  2014
17       3    WICSA     18  2004
18       3    WICSA     19  2005
19       3    WICSA     20  2008
20       3    WICSA     21  2009
21       3    WICSA     22  2011
22       3    WICSA     23  2012
23       3    WICSA     24  2014

# Trying to create an Abstracts table with little success

In [60]:
abTDF = cmd.createAbstractsTable(absDF.as_matrix())
abTDF.tail()

Opened Abstracts_DB.db database successfully
table dropped
Created ABSTRACTS table
Records created successfully

,pubID,pubYear,conf,abstract,title
1425,1426,2014,WICSA,Security is a fundamental concern in clouds an...,A Security Reference Architecture for cloud sy...
1426,1427,2014,WICSA,Reference architectures have emerged as a spec...,Variability viewpoint to describe reference ar...
1427,1428,2014,WICSA,The architecture of a software system plays a ...,Empirical evaluation of the understandability ...
1428,1429,2014,WICSA,Global Software Development GSD teams encoun...,A reference architecture for providing tools a...
1429,1430,2014,WICSA,Software architectures and their representatio...,Towards quantitative metrics for architecture ...

# Create a Terms/keywords Table

In [71]:
import terms as term
term = reload(term)

In [72]:
setTotal = term.parseTerms(absDF)
len(setTotal)

8218

In [73]:
termDF = cmd.createKEYSTable(setTotal[1:])

Opened Abstracts_DB.db database successfully
Records created successfully

In [74]:
termDF.head()

   keyID             keyword
0      1     Loose couplings
1      2   aspectual concept
2      3       Discrete time
3      4  Polyacrylonitriles
4      5  microphytobenthos)

In [75]:
termDF.count()

keyID      8217
keyword    8217
dtype: int64

# Author Affiliation

In [77]:
absDF['Author affiliation'].head()

0                     DISP, Univ  of Rome, Rome, Italy
1                          LSTS   ENIT, Tunis, Tunisia
2    INRIA, Univ  des Sci  et Technol  de Lille, Vi...
3    Sch  of Comput  Sci , Univ  of Adelaide, Adela...
4      Software Group, IBM, Raleigh, NC, United States
Name: Author affiliation, dtype: object

In [82]:
absDF.iloc[0]['Author affiliation']

u'DISP, Univ  of Rome, Rome, Italy'

# Authors

In [81]:
absDF.Authors.head()

0        ['Falessi, D', ' Kruchten, P', ' Cantone, G']
1     ['Jerad, C', ' Barkaoui, K', ' Grissa Touzi, A']
2    ['Waignier, G', ' Le Meur, A', 'F', ' Duchien,...
3    ['Falkner, K', ' Balasubramaniam, D', ' Detmol...
4                     ['Brown, A W', ' McDermid, J A']
Name: Authors, dtype: object

In [83]:
absDF.iloc[0]['Authors']

u"['Falessi, D', ' Kruchten, P', ' Cantone, G']"