# Learning python and sqlite3

In [203]:
import sqlite3
import pandas as pd

In [207]:
with sqlite3.connect('Abstracts.db') as con:
    sql = "SELECT * FROM Abstracts"
    dfab = pd.read_sql_query(sql, con)
    print dfab.shape
con.close()

(0, 10)

In [208]:
dfab.head()

Empty DataFrame
Columns: [Abstract, Author affiliation, Authors, Classification Code, Conf, Database, Source, Title, terms, year]
Index: []

In [209]:
tests = [
    ('Audi', '4door', '4door', '4door', '4door', '4door', '4door', 'tada') ,
    ('Volkswagon', '4door', '4door', '4door', '4door', '4door', '4door',  'tada'),
    ('Passat', '4door', '4door', '4door', '4door', '4door', '4door', 'tada!')
]

testdb = 'Test.db'

# Small scripts
- testing and adding

### check the database at this time

In [210]:
def checkDB(db):
    
    with sqlite3.connect(db) as con:
        sql = "SELECT * FROM Abstracts"
        test = pd.read_sql_query(sql, con )

    
    return test

### Add to the database at this time

In [200]:
def addDB(db, entries):
    
    with sqlite3.connect(db) as con:
        cur = con.cursor() 
    #drops the cars table if it exist already 
        cur.execute("DROP TABLE IF EXISTS Abstracts")
    #and recreates it
        cur.execute("CREATE TABLE Abstracts(Abstract TEXT, 'Author affiliation' TEXT, \
        Authors TEXT, 'Classification Code' TEXT, Conf TEXT, Database TEXT, Source TEXT, \
        Title TEXT)")
        
        
        cur.executemany("INSERT INTO Abstracts VALUES(?,?,?,?,?,?,?,?)", entries )
    con.close()

#### dummy data
- errors thrown due to list entry of 'terms'

In [212]:
addDB(testdb, tests)

In [213]:
checkDB(testdb)

,Abstract,Author affiliation,Authors,Classification Code,Conf,Database,Source,Title
0,Audi,4door,4door,4door,4door,4door,4door,tada
1,Volkswagon,4door,4door,4door,4door,4door,4door,tada
2,Passat,4door,4door,4door,4door,4door,4door,tada!

### Try with some 'real' abstract entries

In [16]:
totalDF = pd.read_hdf('../DataBaseParsing/DFstore.h5', 'df')

In [214]:
row1 = [entry for entry in totalDF.iloc[0]]
row2 = [entry for entry in totalDF.iloc[1]]
row3 = [entry for entry in totalDF.iloc[2]]
rows = (
    (row1[0:8]),
    (row2[0:8]),
    (row3[0:8])
       )
print len(rows[0])

8

In [215]:
addDB(testdb, rows)

In [216]:
test3 = checkDB(testdb)
test3

,Abstract,Author affiliation,Authors,Classification Code,Conf,Database,Source,Title
0,Empirical software engineering focuses on the ...,1 DISP Univ of Rome Rome Italy,Falessi D 1 Kruchten P Cantone G,C6110B Software engineering techniques C0310...,ECSA,Inspec,Software Architecture First European Conferen...,Issues in applying empirical software engineer...
1,Software architecture description languages al...,1 LSTS ENIT Tunis Tunisia,Jerad C 1 Barkaoui K Grissa Touzi A,C6110B Software engineering techniques C4210...,ECSA,Inspec,Software Architecture First European Conferen...,Hierarchical verification in Maude of LfP soft...
2,When an application must evolve to cope with n...,1 INRIA Univ des Sci et Technol de Lille ...,Waignier G 1 Le Meur A F 1 Duchien ...,C6110B Software engineering techniques C6110...,ECSA,Inspec,Software Architecture First European Conferen...,FIESTA a generic framework for integrating ne...