# Setting Up Basic Sqlite with Abs Data
- - Single Table

In [1]:
import sqlite3
import pandas as pd

## Load the sqlite scripts

In [2]:
import sqlcommands as cmd
cmd = reload(cmd)

# Get Data.
**get the pandas Abstracts DataFrame from hd5 file and shape **

In [3]:
rowtotal = cmd.parseDataFrame()
rowtotal[0]

(1548, 8)

Pandas(Index=1, Abstract='Empirical software engineering focuses on the evaluation of software engineering technologies, such as processes and tools, by comparing related sets of data  It has contributed a valuable body of knowledge in several areas such as software economics and software quality, which in turn drove important advances in related tools and techniques  Unfortunately this is not  yet  the case for software architecture, where empirical studies are still few  Such a condition demands for further empirical research efforts on the topic of software architecture and suggests specific areas of improvement  In this paper we discuss several essential, innovative, and maybe provocative, questions such as  Why do we have so few applications of empirical software engineering on software architecture  Which are the main difficulties  What can we do   21 refs', _2='1  DISP, Univ  of Rome, Rome, Italy', Authors="['Falessi, D', ' Kruchten, P', ' Cantone, G']", _4='C6110B Software engineering techniques   C0310F Software management', Conf='ECSA', Title='Issues in applying empirical software engineering to software architecture', terms="['software architecture - software quality', 'empirical software engineering - software architecture - software economics - software quality']", year='2007')

# **Create Abstracts Total DB**
- - can already query on this with pandas

In [4]:
absDF = cmd.createTOTALTable(rowtotal)

x = list(absDF.columns)
absDF.head()

,ID,Abstract,Author affiliation,Authors,Classification Code,Conf,Title,terms,year
0,1,Empirical software engineering focuses on the ...,"1 DISP, Univ of Rome, Rome, Italy","['Falessi, D', ' Kruchten, P', ' Cantone, G']",C6110B Software engineering techniques C0310...,ECSA,Issues in applying empirical software engineer...,"['software architecture - software quality', '...",2007
1,2,Software architecture description languages al...,"1 LSTS ENIT, Tunis, Tunisia","['Jerad, C', ' Barkaoui, K', ' Grissa Touzi, A']",C6110B Software engineering techniques C4210...,ECSA,Hierarchical verification in Maude of LfP soft...,['formal verification - rewriting systems - so...,2007
2,3,When an application must evolve to cope with n...,"1 INRIA, Univ des Sci et Technol de Lille,...","['Waignier, G', ' Le Meur, A', 'F', ' Duchien,...",C6110B Software engineering techniques C6110...,ECSA,FIESTA a generic framework for integrating ne...,['formal specification - software architecture...,2007
3,4,"Ageless software evolves, to meet new requirem...","1 Sch of Comput Sci , Univ of Adelaide, Ad...","['Falkner, K', ' Balasubramaniam, D', ' Detmol...",C6110B Software engineering techniques,ECSA,Informed evolution,['software architecture - software prototyping...,2007
4,5,The past 20 years has seen significant investm...,"1 Software Group, IBM, Raleigh, NC, United St...","['Brown, A W', ' McDermid, J A']",C6110B Software engineering techniques C6130...,ECSA,The art and science of software architecture,['safety-critical software - software architec...,2007

# **Add CONFERENCES TABLE**

In [5]:
confnames = list(absDF.Conf.unique())
dfConf = cmd.createConfTable(confnames)
dfConf

Opened Abstracts_DB.db database successfully
Entry ECSA added
Entry QoSA added
Entry WICSA added
Records created successfully

   confID confName
0       1     ECSA
1       2     QoSA
2       3    WICSA

# ADD PUBLICATIONS TABLE

In [6]:
dfpubs = cmd.createPublicationsTable([])
dfpubs

Opened Abstracts_DB.db database successfully
table dropped
Created PUBLICATIONS table
Records created successfully

Empty DataFrame
Columns: [pubID, year, confName]
Index: []

## we can add from the result of groupby on ABTRACTS TOTAL

In [7]:
abs2 = absDF.groupby(['Conf', 'year']).count()
confYear = list(abs2.index.get_values())

In [8]:
dfpubs = cmd.createPublicationsTable(confYear)
dfpubs.head()

Opened Abstracts_DB.db database successfully
table dropped
Created PUBLICATIONS table
Records created successfully

   pubID  year confName
0      1  2007     ECSA
1      2  2008     ECSA
2      3  2009     ECSA
3      4  2010     ECSA
4      5  2011     ECSA

# Simple queries
- Conferences and Databases
 - describe()

In [9]:
dfpubs.query('year == 2009')

    pubID  year confName
2       3  2009     ECSA
12     13  2009     QoSA
22     23  2009    WICSA

In [10]:
dfConf = cmd.sqlCMDToPD('CONFERENCES')
dfConf.merge(dfpubs, on = 'confName')

(3, 2)

    confID confName  pubID  year
0        1     ECSA      1  2007
1        1     ECSA      2  2008
2        1     ECSA      3  2009
3        1     ECSA      4  2010
4        1     ECSA      5  2011
5        1     ECSA      6  2012
6        1     ECSA      7  2013
7        1     ECSA      8  2014
8        2     QoSA      9  2005
9        2     QoSA     10  2006
10       2     QoSA     11  2007
11       2     QoSA     12  2008
12       2     QoSA     13  2009
13       2     QoSA     14  2010
14       2     QoSA     15  2011
15       2     QoSA     16  2012
16       2     QoSA     17  2013
17       2     QoSA     18  2014
18       3    WICSA     19  2004
19       3    WICSA     20  2005
20       3    WICSA     21  2007
21       3    WICSA     22  2008
22       3    WICSA     23  2009
23       3    WICSA     24  2011
24       3    WICSA     25  2012
25       3    WICSA     26  2014

# Trying to create an Abstracts table with little success

In [11]:
abTDF = cmd.createAbstractsTable(absDF.as_matrix())
abTDF.head()

Opened Abstracts_DB.db database successfully
table dropped
Created ABSTRACTS table
Records created successfully

,pubID,pubYear,conf,abstract,title
0,1,2007,ECSA,Empirical software engineering focuses on the ...,Issues in applying empirical software engineer...
1,2,2007,ECSA,Software architecture description languages al...,Hierarchical verification in Maude of LfP soft...
2,3,2007,ECSA,When an application must evolve to cope with n...,FIESTA a generic framework for integrating ne...
3,4,2007,ECSA,"Ageless software evolves, to meet new requirem...",Informed evolution
4,5,2007,ECSA,The past 20 years has seen significant investm...,The art and science of software architecture

# Create a Terms/keywords Table

In [12]:
import terms as term
term = reload(term)

In [13]:
setTotal = term.parseTerms(absDF)

In [14]:
termDF = term.createKEYSTable(setTotal[1:])

Opened Abstracts_DB.db database successfully
Records created successfully

In [15]:
termDF.head()

   keyID             keyword
0      1     Loose couplings
1      2   aspectual concept
2      3       Discrete time
3      4  Polyacrylonitriles
4      5  microphytobenthos)

In [99]:
row = absDF.iloc[-135]['Author affiliation']

In [100]:
str(row).split('1', 1)[1].strip()

'Institute for Software Research, University of California, Irvine, Irvine, CA, United States'

In [22]:
import re
regXstripper = re.compile('[^a-zA-Z,]')

In [114]:
absDF['Author affiliation']

0                     1  DISP, Univ  of Rome, Rome, Italy
1                          1  LSTS   ENIT, Tunis, Tunisia
2       1  INRIA, Univ  des Sci  et Technol  de Lille,...
3       1  Sch  of Comput  Sci , Univ  of Adelaide, Ad...
4       1  Software Group, IBM, Raleigh, NC, United St...
5           1  Comput  Syst  Dept , UCLM, Albacete, Spain
6       1  Dept  of Comput  Sci , Univ  of Aarhus, Arh...
7       1  Dipt  Estadi stica, Comput  Univ  de La Lag...
8       1  Comput  Sci  Dept , Pontifical Catholic Uni...
9       1  Comput  Languages   Syst  II Dept , Rey Jua...
10      1  Dept  of Comput  Sci , VU Univ  Amsterdam, ...
11      1  Div  de Sist  e Ing  Electron   DSIE , Univ...
12      1  Dept  of Comput  Sci , Univ  of Leicester, ...
13      1  Dept  of Autom  Control   Syst  Eng , Univ ...
14      1  Dept  of Inf  Syst    Comput , Polytech  Un...
15      1  Dept  of Inf  Syst    Comput , Tech  Univ  ...
16      1  Dept  for Appl  Telematics   e Bus , Univ  ...
17      1  Sch  of Comput  Sci , Carnegie Mellon Univ ...
18      1  Depto  de Inf , Univ  de Valladolid, Vallad...
19      1  Dept  of Math    Comput  Sci , Univ  of Gro...
20      1  Dept  of Comput  Sci , Univ  of Malaga, Mal...
21                                                   None
22                                                   None
23      1  Computer Science Department, PUC, Rio, Braz...
24      1  University of Sfax, Research Unit ReDCAD, B...
25      1  Department of Computer Science, University ...
26      1  Department of Computer Science, VU Universi...
27      1  Warsaw University of Technology, Institute ...
28      1  LIFL, INRIA Team ADAM, Universit  des Scien...
29      1  Division of Electronics Engineering and Sys...
                              ...
1518    1  Christian Doppler Laboratory, MEVSS, Johann...
1519                 1  University of Lugano, Switzerland
1520    1  Department of Computer Science, Federal Uni...
1521    1  VU University Amsterdam, Netherlands  2  Vi...
1522    1  University of Canterbury, Christchurch, New...
1523    1  Department of Information Engineering, Comp...
1524    1  Lero   the Irish Software Engineering Resea...
1525    1  Software Architecture Research Group, Unive...
1526    1  University of Groningen, Netherlands  2  AB...
1527    1  Charles University in Prague, Faculty of Ma...
1528    1  Department of Information and Computing Sci...
1529    1  Department of Computer Science, Linnaeus Un...
1530    1  Industrial Software Systems, ABB Corporate ...
1531    1  ABB Corporate Research, M lardalen Universi...
1532    1  Aalto University, School of Science, Finlan...
1533    1  Clausthal University of Technology, Departm...
1534    1  Alten AB, Stockholm, Sweden  2  M lardalen ...
1535    1  IT University of Copenhagen, Denmark  2  Un...
1536    1  Department of Informatics, Clausthal Univer...
1537    1  Siemens AG Osterreich, Corporate Technology...
1538    1  Information Systems Architecture Research G...
1539    1  SWAT Lab , DGIGL, Polytechnique Montr al, Q...
1540    1  IT University of Copenhagen, Denmark  2  Un...
1541    1  Federal University of Bahia, Av  Adhemar de...
1542    1  University of Groningen, Nijenborgh 9, 9747...
1543    1  Department of Informatics, Universidad Tecn...
1544    1  Dept  of Computer Systems, University of S ...
1545    1  Software Architecture Research Group, Unive...
1546    1  Software and Systems Group, IT University o...
1547    1  ABB Corporate Research Germany, Industrial ...
Name: Author affiliation, dtype: object

In [110]:
absDF['Author affilation']

KeyError: 'Author affilation'